#social_bookmark { margin: 0;font-family: Futura, Verdana, Sans-Serif;font-size: 14px;color: #8e9090;clear: both !important;}
#social_bookmark h3 {display:inline;padding: 0;border-bottom:dashed 1px #ccc;}
#social_bookmark ul {margin: 0;padding: 0;margin-top:5px;}
#social_bookmark ul li {float: left;padding: 5px 0 0 0;margin-left: 0;margin-bottom: 20px;list-style-type: none;}
#social_bookmark ul li a {padding: 0 10px 0 20px;color: #999;height: 32px;text-decoration: none;line-height: 1.45em;background-image: url('../images/bookmark.png');background-repeat: no-repeat;}
.blinklist{ background-position: 0 0; width: 16px; height: 16px; }
.delicious{ background-position: 0 -18px; width: 16px; height: 16px; }
.digg{ background-position: 0 -36px; width: 16px; height: 16px; }
.facebook{ background-position: 0 -54px; width: 16px; height: 16px; }
.furl{ background-position: 0 -72px; width: 16px; height: 16px; }
.google_bmarks{ background-position: 0 -90px; width: 16px; height: 16px; }
.netscape{ background-position: 0 -108px; width: 16px; height: 16px; }
.newsvine{ background-position: 0 -126px; width: 16px; height: 16px; }
.reddit{ background-position: 0 -144px; width: 16px; height: 16px; }
.spurl{ background-position: 0 -162px; width: 16px; height: 16px; }
.stumbleupon{ background-position: 0 -180px; width: 16px; height: 16px; }
.twitter{ background-position: 0 -198px; width: 16px; height: 16px; }
.windows_live{ background-position: 0 -216px; width: 16px; height: 16px; }
.yahoo_myweb{ background-position: 0 -234px; width: 16px; height: 16px; }
.yigg{ background-position: 0 -252px; width: 16px; height: 16px; }
