all:
  sfSimpleBlog:
    default_theme:         veryplaintxt
    title:                 sfSimpleBlog
    use_feeds:             true       # enable feeds (require sfFeed2Plugin)
    use_post_extract:      true       # display extract in post list instead of full post body
    post_max_per_page:     5          # number of posts displayed in a list of posts
    post_recent:           5          # number of posts to display in the recent sidebar widget

    feed_count:            5          # number of posts appearing in the RSS feed

    comment_disable_after: 0
    share_on:
      - twitter
      - facebook
      - delicious
      - stumbleupon
      - digg
      - reddit
